:root {
  /* ## Colors */

  /* ### Primary */

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-Blue: hsl(234, 85%, 45%);

  /* ## Gradients */

  --Light-slate-blue: #7857ff;
  --Light-royal-blue: #2e2be9;
  --Violet-blue: #4e21cabb;
  --Persian-blue: #2421ca00;

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--White);
  /* width: 100; */
}

.result-section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    var(--Light-slate-blue) 0%,
    var(--Light-royal-blue) 100%
  );
  border-radius: 0 0 24px 24px;
}

.result-section h4 {
    line-height: .8;
  color: var(--Light-lavender);
}

.result-section .result {
  margin: 10px 0;
  color: var(--White);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--Violet-blue) 25%, var(--Persian-blue) 100%);
}

.result-section .result h1{
    line-height: 0.8;
    font-size: 3rem;
    font-weight: 900;
}

.result-section h2,
.result-section h5 {
  padding: 10px 0;
  color: var(--Pale-blue);
}
.result-section > p {
  color: var(--Light-lavender);
  font-weight: 500;
  font-size: 0.875rem;
  padding: 10px 15px;
}



/* summary */

.summery-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.summery-section h4 {
  padding: 5px 0;
}

.summery-section li {
  display: flex;
  padding: 15px 15px 0 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.summery-section li:nth-child(1) > strong {
  color: var(--Light-red);
  padding-left: 10px;
}

.summery-section li:nth-child(2) > strong {
  padding-left: 10px;
  color: var(--Orangey-yellow);
}
.summery-section li:nth-child(3) > strong {
  padding-left: 10px;
  color: var(--Green-teal);
}
.summery-section li:nth-child(4) > strong {
  color: var(--Cobalt-Blue);
  padding-left: 10px;
}

.summery-section li:nth-child(1) {
  background-color: #ff57570e;
}
.summery-section li:nth-child(2) {
  background-color: #ffb11f0f;
}
.summery-section li:nth-child(3) {
  background-color: #00bd910e;
}
.summery-section li:nth-child(4) {
  background-color: #1124d40e;
}

.summery-section li p {
  margin-left: auto;
}

.summery-section li p span {
  color: var(--Dark-gray-blue);
}

.summery-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* button */

button {
  width: 100%;
  background: var(--Dark-gray-blue);
  color: var(--White);
  border: none;
  padding: 14px;
  margin: 20px;
  font-size: 1.1rem;
  border-radius: 30px;

  align-self: center;
}

footer {
    /* padding-top: 24px; */
  text-align: center;
}

@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .container {
    display: flex;
    justify-content: center;
    width: 600px;
  }
  .result-section {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .result-section .result{
    width: 150px;
    height: 150px;
  }

  .summery-section {
    border-radius: 20px;
    box-shadow: 1px 1px 25px rgba(126, 125, 125, 0.37);;
    width: 50%;
  }

  footer{
    padding-top: 24px;
  }

}
